*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0B1F1A;
    color:white;
}

header{
    background:#081512;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    height:60px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:60px;
}

.hero p{
    font-size:22px;
    margin-top:15px;
}

.btn{
    margin-top:30px;
    background:#D79A2B;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:40px;
    font-weight:bold;
}
